<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - Faustino Gaitan</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  {% include header.html %}
  <main>{{ content }}</main>
  <footer>
    <p>© 2025 | Faustino Gaitan | Built with ❤︎ and deployed on <a href="https://pages.github.com/">GitHub Pages</a></p>
  </footer>
</body>
</html>
